@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.blog-page {
  padding-top: 80px;
  padding-bottom: 120px;
  .container {
    .blog-small-title {
      font-size: 16px;
      font-family: Montserrat,sans-serif;
      font-weight: 500;
      display: flex;
      align-items: center;
      .title-name {
        color: $light-blue-color;
        margin-right: 5px;
      }
      .title-blog-name {
        color: $blue-main-color;
      }
    }
    .blog-main {
      margin-top: 60px;
      margin-bottom: 60px;
      display: flex;
      justify-content: space-between;
      .blog-main-info {
        width: 607px;
        .blog-main-title {
          @include head-lora-38;
          color: $blue-main-color;
          margin-bottom: 40px;
        }
        .blog-main-description {
          font-family: Montserrat,sans-serif;
          font-weight: 400;
          font-size: 20px;
          line-height: 130%;
          color: $blue-main-color;
        }
      }
      .blog-main-image {
        img {
          width: 527px;
          height: 320px;
        }
      }
    }

    .blog-socials {
      display: flex;
      align-items: center;
      .socials-text {
        font-family: Montserrat,sans-serif;
        font-weight: 500;
        font-size: 14px;
        color: $blue-main-color;
        margin-right: 20px;
      }
      .socials-icons {
        display: flex;
        align-items: center;
        gap:13px;
        .social-icon {
          cursor: pointer;
        }
      }
    }

    .blog-comments {
      margin-top: 60px;
      .comments-title {
        @include head-lora-38;
        color: $blue-main-color;
        margin-bottom: 20px;
      }
      .comments-auth-text {
        color: $dark-blue-color;
        font-size: 14px;
        margin-bottom: 60px;
        a {
          color: $blue-main-color;
          text-decoration: none;
        }
      }
      .comment-submit {
        margin-bottom: 60px;
        display: flex;
        flex-direction: column;
        .comment-submit-input {
          border: 1.5px solid #709FDC;
          width: 818px;
          height: 248px;
          margin-bottom: 20px;
          font-size: 14px;
          line-height: 130%;
          border-radius: 3px;
          text-align: start;
          padding: 20px;
          box-sizing: border-box;
          font-family: Montserrat,sans-serif;
          &::placeholder {
            color: #A8ABA7;
          }
          &:focus {
            border: 1.5px solid #709FDC;
          }
        }
        .blog-btn {
          font-size: 16px;
          width: 422px;
          height: 51px;

        }
      }

      .blog-comments-section {



      }
      .load-more {
        margin-top: 60px;
        display: flex;
        align-items: center;
        cursor: pointer;
        .load-more-text {
          color: $blue-main-color;
          font-size: 20px;
          font-weight: 500;
          margin-right: 10px;
        }
      }
    }

  }
}
