@import "../../../../assets/styles/auth-form";
@import "../../../../assets/styles/variables";

.signup {
  padding-top: 106px;
  padding-bottom: 92px;
  .container {
    .signup-left {
      max-width: 429px;
    }
    .signup-right {
      background-image: url("../../../../assets/images/auth/signup.png");
    }
  }
}















