@import "../../../../assets/styles/variables";
@import "../../../../assets/styles/mixins";

.footer {
  background-color: $light-blue-color;
  padding-bottom: 54px;
  padding-top: 40px;
  .container {
    .footer-top {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      .logo {
        margin-right: 40px;
        cursor: pointer;
      }
      .nav-items {
        ul {
          margin: 0;
          padding: 0;
          display: flex;
          li {
            margin-right: 20px;
            list-style: none;
            &:last-child {
              margin-right: 0;
            }
            a {
              text-decoration: none;
              color: $dark-blue-color;
              font-family: Montserrat,sans-serif;
              font-weight: 400;
              font-size: 16px;
            }
          }
        }
      }
    }
    .footer-middle {
      display: flex;
      align-items: baseline;

      .footer-middle-card {
        margin-right: 60px;

        .footer-middle-card-title {
          color: $blue-main-color;
          font-family: Montserrat,sans-serif;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 10px;

        }
        .socials-title {
          margin-bottom: 15px;
        }
        .footer-middle-card-description {
          color: $dark-blue-color;
          font-family: Montserrat,sans-serif;
          font-weight: 400;
          font-size: 16px;
          max-width: 253px;
        }

        .middle-card-action {
          margin-top: 10px;
          .footer-button {
            padding: 10px 20px;
            font-weight: 500;
            font-size: 12px;
          }
        }

        .footer-middle-socials-cards {
          display: flex;
          align-items: center;
          .footer-middle-socials-card {
            margin-right: 12px;
            &:last-child {
              margin-right: 0;
            }
          }
        }

      }
    }

    .footer-bottom {
      margin-top: 6px;
      .footer-bottom-right{
        font-family: Montserrat,sans-serif;
        font-weight: 400;
        font-size: 16px;
        color: $blue-main-color;
      }
    }
  }
}

.footer-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 999;
}
.footer-modal {
  position: fixed;
  width: 727px;
  height: 489px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 10px;
  z-index: 1000;

  .footer-modal-form {
    position: relative;
    &.order {

    }
    &.success{
      .footer-modal-description {
        font-weight: 500;
        font-size: 14px;
        line-height: 130%;
        text-align: center;
        color: #1E1A2B;
      }
      .modal-success {
        padding: 10px 20px;
        font-size: 12px;
      }
    }
    .footer-modal-close-icon{
      position: absolute;
      top: 30px;
      right: 30px;
    }
    .footer-modal-title {
      width: 443px;
      text-align: center;
      @include head-lora-38;
      margin-bottom: 20px;
      color: $blue-main-color;
    }
  }
}
