<section class="login" [formGroup]="loginForm" >
  <div class="container">
    <div class="login-left">
      <div class="auth-title">Войти в личный кабинет</div>
      <form class="auth-form">
        <input class="reg-input" type="text" placeholder="Электронная почта" formControlName="email">
        <input class="reg-input" type="password" placeholder="Пароль" formControlName="password">
        <input class="checkbox" id="checkbox" type="checkbox" formControlName="rememberMe">
        <label class="checkbox-label" for="checkbox">Запомнить меня</label>
      </form>
      <button class="button auth-button" [disabled]="loginForm.invalid" (click)="login()">Войти</button>
      <div class="auth-info">
        <div class="auth-info-text">Нет аккаунта?</div>
        <a class="auth-info-link" routerLink="/signup">Пройдите регистрацию</a>
      </div>
    </div>
    <div class="auth-bg-image login-right"></div>
  </div>
</section>
