html,body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Montserrat,sans-serif;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  background-color: $blue-main-color;
  color:#ffffff ;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  font-family: Montserrat,sans-serif;
  cursor: pointer;
}

.reg-input {
  border: 1.5px solid  $blue-main-color;
  padding: 20px;
  box-sizing: border-box;
  width:422px ;
  height: 53px;
  border-radius: 3px;
}



