html,body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: Montserrat,sans-serif;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
}

.button {
  background-color: $blue-main-color;
  color:#ffffff ;
  border-radius: 5px;
  border: 0;
  box-sizing: border-box;
  font-family: Montserrat,sans-serif;
  cursor: pointer;
  transition-duration: 0.3s;
  &:disabled {
    background: gray;
    cursor: not-allowed;
  }
  &:hover{
    background-color: #496b8d;
  }
}

.reg-input {
  border: 1.5px solid  $blue-main-color;
  padding: 20px;
  box-sizing: border-box;
  width:422px ;
  height: 53px;
  border-radius: 3px;
  font-family: Montserrat,sans-serif;
  font-weight: 400;
  font-size: 14px;
  &::placeholder {
    color: #A8ABA7;
  }
}

.mat-menu-panel {
  background-color:#FFFFFF !important;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  min-height: unset !important;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px !important;
  max-width: 220px;
}

.mat-menu-item {
  font-size: 16px;
  padding: 4px 8px;
  color: $dark-blue-color !important;
}
.mat-menu-content {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.mat-menu-item:hover {
  background-color: $blue-main-color!important;
}

.blog-info p {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: $dark-blue-color;
  margin-bottom: 20px;
  b {
    font-weight: 500;
  }
}
.blog-info h1 {
  @include head-lora-38;
  color: $blue-main-color;
  margin-bottom: 40px;
}

.blog-info h3 {
  font-family: Montserrat,sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  margin-top:40px;
  margin-bottom: 20px;
  color: $blue-main-color;
}
